__pycache__/
*.py[cod]
.ipynb_checkpoints/
.vscode/
.env
.venv/
env/
venv/

# big datasets
data/liris_discrete/raw_videos/
data/liris_continuous/movies/
data/liris_continuous/physio/
Discrete/LIRIS-ACCEDE-data.zip
Continuous/LIRIS-ACCEDE-continuous-movies.zip
Continuous/LIRIS-ACCEDE-continuous-physiological.zip
*.mp4
